@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  body {
    @apply bg-job-neutral text-job-dark font-sans;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Utility to hide scrollbars */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}